/* componentbase css */
body,
html {
  overflow-x: hidden;
}

.hidden {
  display: none;
}

.visiable {
  display: block;
}

.prevent_click{
  pointer-events: none;
}


/* componentbase css Header */
.fmi_farms_pagetitle{
  color:#525253;
  font-size: 34px !important;
 margin-top: -47px !important;
}
.fmi_oder_syetem_main .fmi_order_system_wrap .fmi_ordersystem_header {
  width: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  height: 90px;
  background-color: transparent;
  z-index: 5;
  box-shadow: none;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .menue_box {
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
  margin-right: 18px;
  background-position: left center;
  cursor: pointer;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .menue_box button {
  color: #000;
  padding-right: 0;
  margin-right: 6px;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .menue_box .menu_icon {
  /* font-size: 60px; */
  font-size: 45px;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .menu_icon {
  /* font-size: 50px; */
  font-size: 40px;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .menue_box .MuiTypography-h6 {
  font-size: 23px;
  color: #707070;
}

.fmi_ordersystem_header .MuiTypography-h6 a {
  font-size: 23px;
  font-weight: 400;
  color: #707070;
  text-decoration: none;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .menuitem {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 25px;
}

.fmi_oder_syetem_main .fmi_order_system_wrap .fmi_sidebar_menu .MuiDrawer-paper {
  width: 260px;
  position: fixed;
  background: #f7f7f7;
  border: 1px solid #707070;
  border-radius: 6px;
  left: 15px;
  overflow: hidden;
  height: 80%;
  transition: linear 0.5s;
}

.fmi_oder_syetem_main .fmi_order_system_wrap button.btn_cro {
  display: inline-block;
  padding: 10px 25px;
  background: #070707;
  color: #fff;
  border-radius: 25px;
}
.fmi_oder_syetem_main .fmi_order_system_wrap button.btn_cro a{
  color: #fff;
}

.fmi_oder_syetem_main .fmi_order_system_wrap button.btn_nc {
  color: #66b100;
  font-size: 16px;
  display: inline-block;
  background-image: url(../images/add_icon.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 4px;
  padding-left: 29px;
}

.view_order_table .dropdown {
  padding: 5px 40px;
  border-radius: 25px;
  color: #fff;
  border: none;
  outline: 0;
}

.new_order,
.processing {
  background: #5936EB;
  border: 1px solid #707070;
  color: #fff;
}

.canceled {
  background: #D11919;
  border: 1px solid #707070;
  color: #fff;
  pointer-events: none;
}

.purchased,
.confirmed {
  background: #A54CCB;
  border: 1px solid #707070;
  color: #fff;
}

.printed {
  background: #80D553;
  border: 1px solid #707070;
  color: #fff;
}

/* .saved {
  background: #5936eb;
  border: 1px solid #707070;
  color: #fff;
}

.neworder {
  background: #5936eb;
  border: 1px solid #707070;
  color: #fff;
} */

/* .processing {
  background: #80d553;
  border: 1px solid #707070;
  color: #fff;
} */

.stat_transfer {
  background: #EB9E36;
  border: 1px solid #707070;
  color: #fff;
  
}

.stat_receive {
  background: #a54ccb;
  border: 1px solid #707070;
  color: #fff;
}

.received {
  background: #a54ccb;
  border: 1px solid #707070;
  color: #fff;
  pointer-events: none;
}
.pending {
  background: #62BDDE;
  border: 1px solid #707070;
  color: #fff;
}

.shipped {
  background: #80d553;
  border: 1px solid #707070;
  color: #fff;
}

.requiredError {
  color: red;
}
.staginginventory_wrap .header_button_wrap{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  margin-bottom: 25px;

}
.staginginventory_wrap .sihb_button{
  border: 2px solid #707070;
  border-radius: 30px;
  color: #fff;
  margin-right: 15px;
  padding: 5px 27px;
  width: auto;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 16px;
}
.staginginventory_wrap .sihb_add{
  background-color: #80D553;
}
.staginginventory_wrap .sihb_transfer{
  background-color: #EF9A5C;
}
.staginginventory_wrap .sihb_received{
  background-color: #A54CCB;
}

/* 06-06-2024 */

.view_order_table .dropdown>div {
  padding: 0 0 !important;
}

.view_order_table .dropdown svg {
 fill: #fff !important;
}

.data_table-head h3 {
  font-size: 32px;
}

/* Sidebar-scroll */


ul.sidebar-scroll::-webkit-scrollbar {
  width: 4px;
}

ul.sidebar-scroll::-webkit-scrollbar-track {
  /* background: #232E33; */
  background: #fff;
  border-radius: 3px;
}

ul.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #66b100;
  border-radius: 3px;
  
}

@supports not selector(::-webkit-scrollbar) {
  ul.sidebar-scroll {
    scrollbar-color: #fff;
  }
}
/* Sidebar-scroll */


ul.sidebar-scroll {
  overflow-y: auto;
}
.MuiPagination-ul button.Mui-selected,
.MuiPagination-ul button.Mui-selected:hover {
  background-color: #66b100;
  color: #fff;
  border: none;
  outline: 0;
}



/* 04-07-2024 */
.MuiContainer-root .product-viw-margin_top{
  margin-top: 0;
}
.product_view-wrap{
  display: flex;
  flex-wrap: wrap;
}
.product_view-wrap .full_w-btn{

}